      <!-- Footer Wrapper -->
      <div id="footer-wrapper">
        <footer id="footer" class="container">
          <div class="row">
            <div class="col-12">
              <div id="copyright">
                <ul class="menu">
                  <li>
                    © Enes Çağrı Atağan | Cesur Alphan Ellik | Kerem Güneş |
                    Taha Uğurcan Öngel
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <!-- Scripts 
    <script src="static/assets/js/.js.download"></script>
    <script src="static/assets/js/jquery.dropotron.min.js.download"></script>
    <script src="static/assets/js/browser.min.js.download"></script>
    <script src="static/assets/js/breakpoints.min.js.download"></script>
    <script src="static/assets/js/util.js.download"></script>
    <script src="static/assets/js/main.js.download"></script>
-->
    <div id="titleBar">
      <a href="http://127.0.0.1:5000/#navPanel" class="toggle"></a
      ><span class="title">ZeroFour</span>
    </div>
    <div id="navPanel">
      <nav>
        <a
          class="link depth-0"
          href="http://127.0.0.1:5000/index.html"
          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
          ><span class="indent-0"></span>Home</a
        ><a
          class="link depth-0"
          href="http://127.0.0.1:5000/#"
          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
          ><span class="indent-0"></span>Dropdown</a
        ><a
          class="link depth-1"
          href="http://127.0.0.1:5000/#"
          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
          ><span class="indent-1"></span>Lorem ipsum dolor</a
        ><a
          class="link depth-1"
          href="http://127.0.0.1:5000/#"
          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
          ><span class="indent-1"></span>Magna phasellus</a
        ><a
          class="link depth-1"
          href="http://127.0.0.1:5000/#"
          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
          ><span class="indent-1"></span>Phasellus consequat</a
        ><a
          class="link depth-2"
          href="http://127.0.0.1:5000/#"
          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
          ><span class="indent-2"></span>Lorem ipsum dolor</a
        ><a
          class="link depth-2"
          href="http://127.0.0.1:5000/#"
          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
          ><span class="indent-2"></span>Phasellus consequat</a
        ><a
          class="link depth-2"
          href="http://127.0.0.1:5000/#"
          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
          ><span class="indent-2"></span>Magna phasellus</a
        ><a
          class="link depth-2"
          href="http://127.0.0.1:5000/#"
          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
          ><span class="indent-2"></span>Etiam dolore nisl</a
        ><a
          class="link depth-1"
          href="http://127.0.0.1:5000/#"
          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
          ><span class="indent-1"></span>Veroeros feugiat</a
        ><a
          class="link depth-0"
          href="http://127.0.0.1:5000/left-sidebar.html"
          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
          ><span class="indent-0"></span>Left Sidebar</a
        ><a
          class="link depth-0"
          href="http://127.0.0.1:5000/right-sidebar.html"
          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
          ><span class="indent-0"></span>Right Sidebar</a
        ><a
          class="link depth-0"
          href="http://127.0.0.1:5000/no-sidebar.html"
          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
          ><span class="indent-0"></span>No Sidebar</a
        >
      </nav>
    </div>
  </body>
</html>
