<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Otobüs / Tren Bileti Satın Al</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}">
  </head>
  <body class="homepage">
    <div id="page-wrapper">
      <!-- Header -->
      <div id="header-wrapper">
        <div class="container">
          <!-- Header -->
          <header id="header">
            <div class="inner">
              <!-- Logo -->
              <h1>
                <a href="{{ url_for('home') }}" id="logo"
                  >BUS / TREN Bileti</a
                >
              </h1>

              <!-- Nav -->
              <nav id="nav">
                <ul>
                  <li class="current_page_item" style="white-space: nowrap">
                    <a href="{{ url_for('home') }}">Home</a>
                  </li>

                  <li style="white-space: nowrap">
                    <a href="{{ url_for('otobus') }}">OTOBÜS</a>
                  </li>
                  <li style="white-space: nowrap">
                    <a href="{{ url_for('tren') }}">TREN</a>
                  </li>
                  <li style="white-space: nowrap">
                    <a href="http://127.0.0.1:5000/#">İletişim</a>
                  </li>
                </ul>
              </nav>
            </div>
          </header>

          
        </div>
      </div>