<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="wrapper style2">
		<div class="inner">
			<!-- Feature 2 -->
			<section class="container box feature2">
				<div class="row">
					<div class="col-6 col-12-medium">
						<section>
							<header class="major">
								<h2>OTOBÜS</h2>
								<p>Şehirler Arası Kara Yolculuğu</p>
							</header>
							<p>
								Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in
								lectus. Praesent semper mod quis eget mi. Etiam eu ante risus.
								Aliquam erat volutpat. Aliquam luctus et mattis lectus sit amet
								pulvinar. Nam turpis nisi consequat etiam.
							</p>
							<footer>
								<a href="{{ url_for('otobus_biletleri') }}"
									class="button medium icon solid fa-arrow-circle-right">OTOBÜS bileti Al</a>
							</footer>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<header class="major">
								<h2>TREN</h2>
								<p>Şehirler Arası Tren Yolculuğu</p>
							</header>
							<p>
								Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in
								lectus. Praesent semper mod quis eget mi. Etiam eu ante risus.
								Aliquam erat volutpat. Aliquam luctus et mattis lectus sit amet
								pulvinar. Nam turpis nisi consequat etiam.
							</p>
							<footer>
								<a href="{{ url_for('tren_biletleri') }}" class="button medium icon solid fa-arrow-circle-right">Tren
									Bileti Al</a>
							</footer>
						</section>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>