{% include "header.html" %}

<div class="wrapper style3">
    <div class="inner">
        <div class="container">
            <div class="col-12-medium">
                <!-- Article list -->
                <section class="box article-list">
                    <h2 class="icon fa-file-alt">Uygun Biletler</h2>

                    <!-- Excerpt -->
                    <article class="excerpt">
                        <a href="#" class="image left"><img src="static/images/pic04.jpg" alt="" /></a>
                        <div>
                            <header>
                                {% for ticket in bus_tickets %}
                                <span class="date">{{ ticket.date }}</span>
                                <span> <b> {{ ticket.departure.title() }} - {{ ticket.destination.title() }} </b></span>
                                <h3><a href="#">{{ ticket.company.title() }}<span>-- {{ ticket.fee }}</span></a></h3>
                                {% endfor %}
                            </header>
                            <a class="button alt">Koltuk Seç</a>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}