<style>
  .tren-seat-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    width: fit-content;
    height: fit-content;
  }

  .seat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background-color: aqua;
  }

  .active-seat {
    background-color: #4caf50;
    color: #ffffff;
    outline: none;
  }

  .active-button:active {
    background-color: #3d8d40;
  }

  .inactive-seat {
    background-color: #dddddd;
    color: #333333;
    pointer-events: none;
  }

  .selected-seat {
    background-color: darkslategray;
  }

  .ticket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
  }

  .seat-number {
    font-weight: bold;
    margin: 5px;
  }

  .ticket-cost {
    color: #888;
    margin: 5px;
  }

  #total-amount {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }

  .selected-tickets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .selected-tickets-wrapper {
    width: 400px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .tooltip::after {
    content: attr(tooltip-data);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #34363b;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
  }

  .tooltip:hover::after {
    visibility: visible;
    opacity: 1;
  }

  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .form-label {
    margin-right: 10px;
  }

  .form-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #checkout-form {
    margin-top: 20px;
  }
</style>
{% include "header.html" %}

<div class="wrapper style3">
  <div class="inner">
    <div class="container" style="display: flex">
      <div class="col-12-large">
        <div class="tren-seat-grid">
          {% for seat in range(1, 52) %} {% if seat not in ticket.seats %}
          <button class="seat inactive-seat">{{ seat }}</button>
          {% else %}
          <button tooltip-data="{{ticket.fee}}" onclick="addToTheCart(event)" class="tooltip seat active-seat">
            {{ seat }}
          </button>
          {% endif %} {% endfor %}
        </div>
      </div>

      <div class="col-12-large" style="margin-left: auto">
        <div class="selected-tickets-container">
          <div id="selected-tickets" class="selected-tickets-wrapper"></div>
          <div id="total-amount"></div>
        </div>
      </div>

      <div class="form-container">        
        <form id="checkout-form" method="POST" style="margin-left: 20px">
          <div class="form-row">
            <label for="full-name" class="form-label" style="color: gray">İsim Soyisim:</label>
            <input type="text" id="full-name" name="full-name" required class="form-input" />
          </div>

          <div class="form-row">
            <label for="age" class="form-label" style="color: gray">Yaş:</label>
            <input type="number" id="age" name="age" required class="form-input" />
          </div>

          <button type="submit" onclick="confirmPurchase(event)" class="active-button">
            Satın Al
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var selectedTickets = [];
  var seatFee = {{ ticket.fee.split(" ")[0] }};

  function addToTheCart(event) {
    event.target.classList.toggle('inactive-seat');
    var seatNumber = parseInt(event.target.textContent.trim());

    if (selectedTickets.includes(seatNumber)) {
      selectedTickets = selectedTickets.filter(function (ticket) {
        return ticket !== seatNumber;
      });
    } else {
      selectedTickets.push(seatNumber);
    }

    var selectedTicketsElement = document.getElementById('selected-tickets');
    selectedTicketsElement.innerHTML = '';

    var totalAmountElement = document.getElementById('total-amount');
    totalAmountElement.textContent = '';

    if (selectedTickets.length > 0) {
      var totalAmount = 0;

      for (var i = 0; i < selectedTickets.length; i++) {
        var ticketDiv = document.createElement('div');
        ticketDiv.classList.add('ticket');

        var seatNumberElement = document.createElement('div');
        seatNumberElement.classList.add('seat-number');
        seatNumberElement.textContent = 'Koltuk: ' + selectedTickets[i];

        var costElement = document.createElement('div');
        costElement.classList.add('ticket-cost');
        costElement.textContent = 'Fiyat: ' + seatFee + ' TL';

        ticketDiv.appendChild(seatNumberElement);
        ticketDiv.appendChild(costElement);

        selectedTicketsElement.appendChild(ticketDiv);

        totalAmount += seatFee;
      }

      totalAmountElement.textContent = 'Toplam Tutar: ' + totalAmount + ' TL';
    }
  }
  function confirmPurchase(event) {
    event.preventDefault();
    var fullName = document.getElementById('full-name').value;
    var age = parseInt(document.getElementById('age').value);

    if (selectedTickets.length > 0 && fullName !== "" && age >= 18) {
      // Process the purchase
      alert("Satın alma işlemi başarıyla tamamlandı. İsim: " + fullName + ", Yaş: " + age + ", Koltuklar: " + selectedTickets);
    } else {
      if (selectedTickets.length === 0) {
        alert("Lütfen bir koltuk seçin.");
      } else if (fullName === "") {
        alert("Lütfen isim soyisim bilgisini girin.");
      } else {
        alert("18 yaşından küçük kişiler bilet alamaz.");
      }
    }
  }
</script>
{% include "footer.html" %}